:root {
  --link-color-light: #ffffff;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
  color: var(--text-color);
}

.home-content-container__home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.home-content-container__trending-items-holder,
.home-content-container__top-items-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

#home-content-container__shop-now-button {
  width: 160px;
  height: 50px;
  padding: 9px 0 0 18px;
  margin-top: 70px;
  font-size: 1.4em;
  font-weight: 500;
  color: var(--link-color-light);
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  cursor: pointer;
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 0.2s ease-in;
}

#home-content-container__shop-now-button:hover {
  transform: scale(1.05);
}
