/* Custom properties */
:root {
  --img-background-color: #ffffff;
  --outline-color: #3b3b3b;
}

.main-content-cart {
  width: 1024px;
}

table {
  padding: 20px 5px 5px 5px;
  text-align: left;
  width: 100%;
}

tbody {
  font-size: 95%;
  font-style: italic;
}

tfoot {
  font-weight: bold;
}

tr {
  font-size: 0.8em;
}

td {
  outline: 1px solid var(--outline-color);
}

.heading-costs {
  text-align: center;
}

.image-cell {
  text-align: center;
  background-color: var(--img-background-color, #ffffff);
}

.image-cell img {
  margin: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-weight: 600;
}

.product-description {
  font-size: 0.8em;
}

.product-quantity {
  font-weight: 600;
}

.product-title,
.product-description,
.product-quantity {
  font-style: normal;
  padding: 0 10px 0 10px;
  margin: 5px 0 5px 0;
}

.product-total {
  text-align: center;
}

.cart-total-label {
  padding-right: 10px;
  text-align: end;
}

.cart-total-price {
  min-width: 100px;
  text-align: center;
}

.remove-button,
.button-pay {
  margin: 0 10px 0 10px;
}

.cart-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 0 0 0;
}
