/* Custom properties */
:root {
  --primary-color: #4d5763;
  --secondary-color: #4fb7ec;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.trending-items-holder,
.new-items-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.new-items-holder {
  margin-bottom: 50px;
}

.trending-items-title,
.new-items-title {
  align-self: baseline;
  margin-bottom: 20px;
}

.trending-items,
.new-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  margin-top: 50px;
}

.shop-now-button {
  background-color: var(--secondary-color);
}

.shop-now-button:hover {
  transition: background-color 0.25s;
  background-color: var(--primary-color);
}
