/* Reset styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */

:root {
  --background-color: #ffffff;
  --secondary-color: #a200a5;
  --text-color: #333333;
  --text-color-light: #ffffff;
  --selection-title-color: #a200a5;
  --button-color-light: #f9f9f9;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global layout */

html {
  color: var(--text-color);
}

main {
  margin: 50px 0 50px 0;
}

/* Elements */

p {
  font-size: 0.8em;
}

a {
  color: var(--text-color-light);
  font-weight: 500;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1;
}

h3 {
  font-size: 0.9em;
}

h4 {
  font-size: 0.8em;
}

img {
  height: 80px;
  width: auto;
}

button {
  display: inline-block;
  font-size: 1.4em;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  font-weight: 500;
  cursor: pointer;
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 0.2s ease-in;
}

button:hover {
  transform: scale(1.05);
}
