/* Custom properties */
:root {
  --primary-color: #4d5763;
}

.navbar {
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 20px;
}

.navbar-items {
  margin: 10px 0 10px 20px;
}

.navbar-cart {
  margin: 15px 20px 5px 0;
}

.navbar-items ul,
.navbar-cart ul {
  list-style: none;
}

.navbar-items li,
.navbar-cart li {
  display: inline;
}

.navbar-items :nth-child(2) {
  margin-left: 10px;
}

.navbar-items li:hover,
.navbar-cart li:hover {
  display: inline-block;
  position: relative;
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}
