.navbar {
  border-bottom: 1px solid #4d5763;
  margin-bottom: 20px;
}

.navbar-items {
  margin: 10px 0 10px 20px;
}

.navbar-cart {
  margin: 10px 20px 10px 0;
}

.navbar-items ul,
.navbar-cart ul {
  list-style: none;
}

.navbar-items li,
.navbar-cart li {
  display: inline;
}

.navbar-items :nth-child(2) {
  margin-left: 10px;
}

.navbar-items li:hover,
.navbar-cart li:hover {
  display: inline-block; /* of 'block' als inline-block niet werkt */
  position: relative; /* Dit zorgt ervoor dat de transformatie werkt */
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}

.counter-holder {
  background-color: red;
  min-width: 50px;
  min-height: 30px;
}
