/* Custom properties */
:root {
  --background-color-card: rgb(77, 87, 99, 0.2);
  --image-holder-color: white;
}

.item-card {
  border-radius: 5px;
  padding: 10px;
  max-width: 230px;
  height: 200px;
  border-left: 2px solid var(--background-color-card);
  border-right: 2px solid var(--background-color-card);

  /* background-color: var(--background-color-card); */
}

.card-image {
  border-radius: 5px;
  background-color: var(--image-holder-color);
  height: 70px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.card-text {
  height: 95px;
  width: 160px;
}

.card-price {
  font-size: 1.2em;
  height: 40px;
}

img {
  height: 60px;
  width: auto;
}
