.trending-items-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  border: 1px solid var(--selection-title-color);
  border-radius: 5px;
  width: 100%;
}

.trending-items-title h2 {
  color: var(--selection-title-color);
}

.trending-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
